<div class="toolbar" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="row" class="innerToolbar">
    <img width="18px" alt="Angular Logo" src="../assets/img/angular_whiteTransparent.svg" />
    <div fxLayout="row" fxFlex fxLayoutAlign="center center">
      <div>Layout</div>
    </div>
    <div fxLayout="row" fxFlex="80px" fxLayoutAlign="center center">
      <div>Flex</div>
    </div>
    <div fxLayout="row" fxFlex="80px" fxLayoutAlign="center center">
      <div>Grid</div>
    </div>
    <div fxLayout="row" fxFlex="80px" fxLayoutAlign="center center">
      <div>Guides</div>
    </div>
  </div>
  <div fxLayout="row" fxFlex fxLayoutAlign="end center" fxLayoutGap="10px">
    <img width="18px" alt="Github Logo" src="../assets/img/github-circle-white-transparent.svg" />
    <div fxFlex="60px">Git Hub</div>
  </div>
</div>
<router-outlet></router-outlet>